@import "color-palette.css";
.navigation .nav-content ul li>a.active{
    border-right: 5px solid var(--primary_medium);
}
.navigation .nav-content ul li>a.active span{
    color: var(--primary_medium) !important;
}
.navigation .nav-content ul li>a.active:hover span{
    color: var(--primary_dark) !important;
}